/* Use the Montserrat font for the <h1> and <p> elements */
h1, #random-text {
  font-family: 'Montserrat', sans-serif;
}

/* Center the <h1> element horizontally */
h1 {
  text-align: center;
}

/* Center the <p> element horizontally and vertically */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFFFFF; /* set the background color to white */
}

/* Give the <p> element a minimalist style */
#random-text {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Change the header text to "Daily Quotes" */
h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#time-date {
  position: absolute;
  font-size: 2rem;
  top: 17%; /* adjust this value to position the element as desired */
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 1em;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

body {
  overflow: hidden;
}

#text-container {
  width: 40rem; /* use a percentage width instead of a fixed width */
  height: 20rem; /* use a percentage height instead of a fixed height */
  position: absolute;
  top: 30%;
  margin: 0 auto;
  padding: 5em;
  border: 0px solid #ccc;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;

}

#random-text {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

#quote-button {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-height: 30%;
  overflow: auto;
  padding: 1em;
  border: 0px solid #ccc;
  border-radius: 100px;
  background-color: #f2f2f2;
  font-size: 2rem;
  transition: background-color 0.75s ease;
}


#quote-button:hover {
  background-color: black;
  color: white;
}

/* Media query for even smaller screens */
@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  #random-text {
    font-size: 1rem;
    padding: 0.25rem;
  }
  #text-container {
    height: 30%;
    padding: 0.25em;
  }
  #quote-button {
    width: 75%;
    max-height: 15%;
    padding: 0.25em;
  }
}

/* Add a gradient background color */
body {
  background: linear-gradient(to bottom, #f2f2f2, #FFFFFF);
}

/* Add a box shadow to the text container */
#text-container {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

/* Change the color of the quote button on hover */
#quote-button:hover {
  background-color: #2196F3;
  color: white;
}
